
header {
  padding: 3rem;
  background-color: #343a40;
  color: #fff;
}


.b-example-divider {
  height: 1rem;
  background-color: #f7f7f7;
  margin-bottom: 1rem;
}


.navbar-nav {
  display: flex;
  justify-content: center;
}



.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  animation: fadeInUp 1s forwards; 
}


.card:hover {
  transform: translateY(-50px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.card-body {
  text-align: center;
}
